img {
	width:30%;
	float: left;
	margin:1.66%;
}

p{
	font-family: Raleway;
	font-weight: 800;
	margin-left: 1.66%;
	font-size: 23px;
	text-transform: uppercase;
	border-bottom: 3px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;

}

h6 {
	margin: 0;
	text-align: right;
	margin-right: 1.66%;
	font-family: Raleway;
	font-size:15px;
}

a:link {
	color: #48494b;
	text-decoration: none;
}

a:visited {color: gray;}

a:hover {
	text-decoration: line-through;
}
